*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: sans-serif;
 background: #000;   
}
ul{
    display: flex;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0.4 1rem;
    font-size: 1.5rem;
    margin: 2rem;
    position: relative;
    transition: all 0.5s;
    text-transform: uppercase;
}
.list-items:before{
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 12px;
    width: 12px;
    border: 3px solid #fff;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.6s;
}

.list-items::after{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    height: 12px;
    width: 12px;
    border: 3px solid #fff;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.6s;
}
 .list-items:hover:before{
    opacity: 1;
    bottom: -12px;
    left: -12px;
}
.list-items:hover::after{
    opacity: 1;
    top: -12px;
    right: -12px;
}